@using LinJas.Common

<header>
    <div id="menu" class="navbar" data-spy="affix" data-offset-top="150">
        <div class="container">
            <div class="navbar-header">               
                <a href="@Url.Action("Index","Home")">
                    <img src="@Url.Content("~/Asset/images/icon/logo_Techsoftplus1.png")" class="img-responsive" alt="logo thiết kế  website  chuẩn seo"/>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="@Html.MenuItemActive("About","Home",null)">@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                <li class="@Html.MenuItemActive("Service","Home",null)"><a href="@Url.Action("Service","Home",new { name="seo-tu-khoa-len-top"})">Dịch vụ</a></li>
                <li>@Html.ActionLink("My Project", "Index", "Home")</li>
                <li><a href="@Url.Action("","")">Blog</a></li>
                <li><a href="@Url.Action("","")">Tuyển dụng</a></li>
                <li><a href="@Url.Action("","")">Bảng báo giá</a></li>
                <li class="@Html.MenuItemActive("Contact","Home",null)">@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</header>
