<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="~/favicon.ico" rel="shortcut icon" />

    <!--meta-->
    @RenderSection("Metas", false)
    <!--css-->
    @RenderSection("css",false)
</head>
<body data-spy="scroll">
    @Html.Partial("_Header")
    
    <div class="body-content">

        @RenderBody()
        
    </div>
    @Html.Partial("_Footer")  
    <!--js-->
    @RenderSection("scripts", required: false)
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=179707186080623&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
