<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    @*<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">*@

    <link rel="icon" href="~/Images/icon/xingfa-icon.png" sizes="32x32" />
    <link rel="icon" href="~/Images/icon/xingfa-icon.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/Images/icon/xingfa-icon.png" />
    <meta name="msapplication-TileImage" content="~/Images/icon/xingfa-icon.png" />
    @RenderSection("Metas",false)
    @RenderSection("css",false)
</head>
<body>
    <!--Header-->
    @Html.Partial("_Header")
    
    <!--Content-->
    <div class="main-content">
        @RenderBody()
    </div>
    <!--Model-->
    @Html.Partial("_PartialModel")
    <!--Footer-->
    <footer id="footer" class="container-fluid">
       @Html.Partial("_Footer")
    </footer> 
    @RenderSection("js",false)
    <div id="fb-root"></div>
    <!--về top-->
    <button id="myBtn" title="Go to top"><span class="fa fa-angle-up"></span></button>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=1554982964804255';
        fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
