@model LinJas.Models.ControllerRoleModel
@using LinJas.Common
@{
    ViewBag.Title = "AddController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Html.InlineStyles("~/css/home.index.desktop.css")
    <link href="~/Areas/AdminLinja/Content/jquery.tree-multiselect.css" rel="stylesheet" />
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/home.index.desktop.js")
    <script src="~/Areas/AdminLinja/Scripts/pastaxi/jquery-ui.min.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/pastaxi/jquery.tree-multiselect.min.js"></script>
    <script src="~/Areas/AdminLinja/Scripts/pastaxi/jquery.tree.common.js"></script>
}
@section Metas{
    <title>Code Amp</title>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Phân quyền người dùng</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>AsbRoleController</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Hidden("userId", Model.Roles.Id)
                        <div class="col-md-10">
                            <select id="selectedController" name="selectedController" multiple="multiple">
                                @foreach (var item in Model.Controllers)
                                {
                                    <option name="selectedController" value="@item.Controller-@item.Action" data-section="@item.Controller" selected="selected" data-index="3">@item.Action</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>

