@model IEnumerable<LinJas.Models.AsbController>
@using LinJas.Common

@{
    ViewBag.Title = "GetController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    @Html.InlineStyles("~/css/home.index.desktop.css")
}
@section js{
    @Html.InlineScripts("~/bundles/js/jquery.common.js")
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" async></script>", "~/bundles/js/home.index.desktop.js")
}
@section Metas{
    <title>Code Amp</title>
}
<h2>GetController</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Controller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDelete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Controller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDelete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Action }) |
            @Html.ActionLink("Details", "Details", new { id=item.Action }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Action })
        </td>
    </tr>
}

</table>
