
@{
    ViewBag.Title = "Homes";
    Layout = "~/Areas/AdminLinja/Views/Shared/_Layouts.cshtml";
}

<div class="demo-section">
    <h3>E-mail</h3>
    @(
         Html.Kendo().QRCode()
            .Name("qrMail")
            .Value("mailto:clientservice@telerik.com")
            .Color("#e15613")
            .Background("transparent")
            .Size(120)
    )
</div>
<div class="demo-section">
    <h3>URL</h3>
    @(
        Html.Kendo().QRCode()
            .Name("qrUrl")
            .Value("http://demos.telerik.com/kendo-ui/dataviz/overview/index.html")
            .ErrorCorrection(QRErrorCorrectionLevel.M)
            .Size(120)
            .Border(border => border.Color("#000000").Width(5))
    )
</div>
<div class="demo-section">
    <h3>Telephone</h3>
    @(
        Html.Kendo().QRCode()
            .Name("qrTelephone")
            .Value("AnhTc:+84.163.558.4621")
            .ErrorCorrection(QRErrorCorrectionLevel.Q)
            .Size(120)
            .Color("#67a814")
            .Border(border => border.Color("#67a814").Width(5))
    )
</div>
<div class="demo-section">
    <h3>Geo Location</h3>
    @(
        Html.Kendo().QRCode()
            .Name("qrGeoLocation")
            .Value("geo:42.65049,23.37925,100")
            .ErrorCorrection(QRErrorCorrectionLevel.H)
            .Size(120)
            .Color("#166a83")
    )
</div>

<style>
    .demo-section {
        display: inline-block;
        margin: 17px;
    }

    .k-qrcode {
        display: inline-block;
        margin: 10px 0 0;
        border: none;
    }
</style>

<textarea rows="4" id="txtContent" style="min-width: 100%; height:400px;"></textarea>


<script>
    //phần này dành cho Image
    var urlHost = "@Url.Content("~/Content/uploads/articles/")";
    $("#txtContent").kendoEditor(
                {
                    imageBrowser: {
                        transport: {
                            read: "@Url.Action("Read", "ImageBrowser")",
                        destroy: {
                            url: "@Url.Action("Destroy", "ImageBrowser")",
                        type: "POST"
                    },
                    create: {
                        url: "@Url.Action("Create", "ImageBrowser")",
                    type: "POST"
                },
    thumbnailUrl: "@Url.Action("Thumbnail", "ImageBrowser")",
    uploadUrl: "@Url.Action("Upload", "ImageBrowser")",
    imageUrl: function (options) {
        return urlHost + options;
    }

    }

    },
    tools: [
        "bold",
        "italic",
        "underline",
        "strikethrough",
        "justifyLeft",
        "justifyCenter",
        "justifyRight",
        "justifyFull",
        "insertUnorderedList",
        "insertOrderedList",
        "indent",
        "outdent",
        "createLink",
        "unlink",
        "insertImage",
        "insertFile",
        "subscript",
        "superscript",
        "createTable",
        "addRowAbove",
        "addRowBelow",
        "addColumnLeft",
        "addColumnRight",
        "deleteRow",
        "deleteColumn",
        "viewHtml",
        "formatting",
        "cleanFormatting",
        "fontName",
        "fontSize",
        "foreColor",
        "backColor"
    ]
    }
        );
</script>